name: Deploy to cPanel

on:
  push:
    branches:
      - main   # or master, depending on your branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist  # Change this if your build output directory is different

      - name: Upload Assets as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: src/assets  # Ensure this path is correct for your assets

  deploy:
    runs-on: ubuntu-latest
    needs: build  # Ensure this job runs after the build job

    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v2
        with:
          name: build

      - name: Download Assets
        uses: actions/download-artifact@v2
        with:
          name: assets

      - name: Upload via FTP to cPanel
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.CPANEL_FTP_SERVER }}
          username: ${{ secrets.CPANEL_FTP_USERNAME }}
          password: ${{ secrets.CPANEL_FTP_PASSWORD }}
          local-dir: dist  # Ensure this matches your build output folder
          server-dir: public_html/   # Adjust depending on your cPanel setup